/****************************************
    HERO SECTION + CAROUSEL
****************************************/

.Hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Left,
.Right {
  width: 50%;
  height: 100%;
}

.Hero .Left {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  padding-left: 5rem;
  width: 45%;
}

.Hero .Right {
  width: 55%;
}

.HeroImage {
  width: 100%;
  height: auto;
}

.TitleSpan {
  color: var(--primary);
}

.ButtonWrapper {
  margin-top: 50px;
}

.Carousel {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 1900px;
  margin: auto;
}

.Line {
  width: 100%;
  display: flex;
}

.AnimatedLine {
  min-width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 50px;
  animation: slideAnimation linear 20s infinite;
  padding: 0;
}

.AnimatedLine:first-child {
  padding: 0 25px;
}

.AnimatedLine:nth-child(2) {
  animation: secondSlideAnimation linear 20s infinite;
  animation-delay: 10s;
  padding: 0 25px;
}

.LineCard {
  height: 100%;
}

.LineCard img {
  height: 100%;
  width: auto;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes secondSlideAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

/****************************************
    COURSE PREVIEW SECTION
****************************************/

.CoursePreview {
  background-color: var(--background-grey);
  min-height: 500px;
  padding: 100px 0;
  display: flex;
}

.CoursePreview .PerspectiveWrapper {
  perspective: 1500px;
}

.CoursePreview .HomepageCodeEditorWrapper {
  width: 600px;
  height: 500px;
  transform: rotateY(30deg);
  box-shadow: var(--light-shadow);
  animation: fadeInFromBottom ease-in 0.4s;
  position: relative;
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: rotateY(35deg) translateY(200px);
  }

  100% {
    opacity: 1;
    transform: rotateY(35deg) translateY(0);
  }
}

.ButtonReplica {
  height: 60px;
  width: 120px;
  background-color: var(--primary);
  color: white;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  position: absolute;
  top: -20px;
  right: -25px;
  transition: position 0.4s opacity 0.4s;
  box-shadow: var(--light-shadow);
}

.QuestionReplica {
  width: 220px;
  height: 120px;
  border-radius: var(--border-radius);
  background-color: white;
  box-shadow: var(--light-shadow);
  position: absolute;
  bottom: -40px;
  left: -30px;
  padding: 15px;
}

.QuestionReplicaTitle {
  font-size: 1.6rem;
  margin: 0;
  margin-bottom: 5px;
}

.QuestionReplicaText,
.QuestionReplicaDate {
  font-size: 1.2rem;
  color: var(--placeholder-grey);
}

.QuestionReplicaDate {
  color: var(--primary);
  padding-top: 15px;
}

.CoursePreview .Right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  min-height: 500px;
}

.CoursePreview .Right p {
  color: var(--placeholder-grey);
}
