@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

:root {
  /* Primary app colors. */
  --primary: #827ffe;
  --primary-dark: #5754e0;
  --secondary-dark: #4542da;

  /* 50 shades of grey */
  --background-grey: #f5f7fa;
  --placeholder-grey: #8f8ea1;
  --custom-greyy: #ececec;
  --custom-black: #403865;

  /* Notifications / messages colors. */
  --success: #34cc3f;
  --success-dark: #13a01e;
  --danger: #e73537;
  --danger-dark: #b71c1d;
  --warning: #ffba00;

  /* App wide light shadow. */
  --light-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "PT Mono", sans-serif;
  color: var(--custom-black);
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.title {
  font-size: 4rem;
}

.title .dot {
  color: var(--primary);
  font-size: 1em;
}
