@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

:root {
  /* Primary app colors. */
  --primary: #827ffe;
  --primary-dark: #5754e0;
  --secondary-dark: #4542da;

  /* 50 shades of grey */
  --background-grey: #f5f7fa;
  --placeholder-grey: #8f8ea1;
  --custom-greyy: #ececec;
  --custom-black: #403865;

  /* Notifications / messages colors. */
  --success: #34cc3f;
  --success-dark: #13a01e;
  --warning: #ffba00;
  --danger: #e73537;
  --danger-dark: #b71c1d;
  --danger-contrast-light: #f9c0c1;

  /* General variables */
  --light-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
  --inset-light-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
  --border-radius: 8px;

  /* Code editor related colors. */
  --monakai-bg: #272822;

  /* Z Indexes */
  --z-index-bottom: 1;
  --z-index-middle: 2;
  --z-index-top: 3;
  --z-index-skyscraper: 100000;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "PT Mono", sans-serif;
  color: var(--custom-black);
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
}

a:hover {
  color: var(--primary-dark);
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  /* Giving all the elements z-index: 1; by default */
  z-index: var(--z-index-bottom);
}
